{% extends 'base.html.twig' %}

{% block body %}
	<div class="error-container">
		Oops! Something was missing, please try adding entry again: {{ errorsString }} <br />
		(<a href="{{ path('movies') }}">Click here to go back</a>)
	</div>
{% endblock %}